

<style>

div{
  margin-right:10px
}
	#submit-btn{
		border:1px solid #958068;
		color: #958068;
	}
	#submit-btn:hover{
		background-color:#958068;
		color: #fff;
	}
	#sign_in-btn:hover{
		color: #958068;
	}

</style>

<div style="height:40px"></div>
<div class="container">
  <h1 class="text-center" style="color:#958068;">註冊</h1>
  <hr style="border: 1px solid #958068">
  <div class="row">
    <div class="col-md-3 col-12"></div>
    <div class="col-md-6 col-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      <div>
        <div class="form-group">
                <lable for="user_email">電子信箱*</lable>
                <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email" class="form-control" placeholder="請輸入電郵" />
              </div>
              <div class="form-group">
                <lable for="user_name">使用者名稱*</lable>
                <input autofocus="autofocus" type="text" name="user[name]" id="user_name"  class="form-control" required placeholder="請輸入使用者名稱" />
              </div>
              <div class="form-group">
                <lable for="user_password">密碼*</lable>
                <input autocomplete="new-password" type="password" name="user[password]" id="user_password" class="form-control" required placeholder="最少 6 碼" />
              </div>
              <div class="form-group">
                <lable for="user_password_confirmation">確認密碼*</lable>
                <input autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control" required placeholder="再次輸入密碼" />
              </div>
<div class="form-group">
<input type="checkbox" required="required" id="checkacc">&nbsp;*我已閱讀並同意<a href="acc">《東文使用者條款》</a>
</div>
      </div>
      <input type="submit" name="commit" value="註冊" data-disable-with="立即註冊"  class="btn" id="submit-btn" />
  

  
  

  


<% end %>

<a class="btn" href="/users/sign_in" id="sign_in-btn">登入</a> </div>
    <div class="col-md-3 col-12"></div>
  </div>
</div>
<script>
$("#checkacc").prop("checked", true);
</script>

