<style>
    *{
      font-family: DFKai-sb;
    }
</style>
<style>
a:hover{
        color: black;
        background-color: white;
        text-decoration: none;
    }
</style>
<div class="container">
    <h1><b>章節</b>
    </h1>
    <hr>
    <div class="row" style="margin-bottom:300px">
      <!-- Sidebar Column -->
      <% @book.chapters.uploaded.each do |chapter|%>

      <!--Creates chapter variable-->
        <div class="col-lg-2 mb-4">
        <!-- For each chapter, create a box that takes up 3 portions of the page-->
          <div class="list-group">
          
          <a href="/books/<%=@book.id%>/chapters/<%=chapter.id%>" class="list-group-item"> <%= chapter.title%></a>
          <!--
          Nested route created in routes.rb
          e.g. /books/:id/chapters/:id
          Get book_id and chapter_id for respective chapters
          @book from set_book in books_controller
          -->
          </div>
        </div>
      <% end%>
    </div>
    
    <%= link_to "回到上一頁", :back %>
    <!-- /.row -->
</div>