
<style>
    *{
      font-family: DFKai-sb;
    }
</style>
<body>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">關於我們
    </h1>


    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
      </div>
      <div class="col-lg-6">
        <h2>關於復興小說研究社</h2>
        <p>我們很棒</p>
        <p>我們超棒</p>
        <p>我們非常棒</p>
      </div>
    </div>
    <!-- /.row -->
    <!-- /.row -->

  </div>
  <!-- /.container -->
</body>
