<!--
這個網頁由Clyde設計、製作
Clyde保有最終管制權
目前此網頁授權東方文學團隊使用

Developed by Clyde
-->
<style>
#topt {vertical-align:top;list-style:none;display:flex;justify-content:space-between;border:ridge 5px;}
.readhelp {list-style:none;position: absolute;left:10px;margin:0;padding:0;}
nav a {color: inherit;text-decoration: none;display:block;padding:3px;}
nav {float:left;}
#content {position:absolute;top:95px;left:190px;}
nav li:hover {background-color: rgb(115, 115, 115);color: white;}
#helpt {font-size: 25px;background: url(https://3.bp.blogspot.com/-uJFAuIHga1U/UAQdqPUcR2I/AAAAAAAADFs/fcgWqJYuoBY/s1600/blue.png) bottom; background-repeat: repeat no-repeat; line-height: 22px;}
</style>
<ul id="topt">
<li><h1>東文幫助中心</h1></li>
<li><h3 style="margin-right:20px;margin-top:30px;">用戶指南</h3></li>
</ul>
<!-- 內容上 -->
<div id="content">
<h1>東文網站說明</h1><hr>
<ol>
<strong><li>小標</li></strong>
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
<strong><li>小標</li></strong>
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
<strong><li>小標</li></strong>
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
<strong><li>小標</li></strong>
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
<strong><li>小標</li></strong>
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
內容內容內容內容內容內容內容內容內容內容內容內容
</ol>
</div>
<!-- 內容下 -->
<div>
<span id="helpt">讀者幫助中心</span><br><br>
<nav>
<ul class="readhelp">
<li style="padding:3px;"><a href="help_1-1">註冊與登入</a></li>
<li style="padding:3px;"><a href="help_1-2">在線閱讀</a></li>
<li style="padding:3px;"><a href="help_1-3">書架系統</a></li>
<li style="padding:3px;"><a href="help_1-4">東文網站說明</a></li>
<li style="padding:3px;"><a href="help_1-5">東文書評系統</a></li>
<li style="padding:3px;"><a href="help_1-6">申請作者</a></li>
</ul>
</nav>
</div>
<div style="margin-top:230px">
<span id="helpt">作者幫助中心</span><br><br>
<nav>
<ul class="readhelp">
<li style="padding:3px;"><a href="help_2-1">新建作品問題</a></li>
<li style="padding:3px;"><a href="help_2-2">已過審作品問題</a></li>
<li style="padding:3px;"><a href="help_2-3">作品解禁問題</a></li>
<li style="padding:3px;"><a href="help_2-4">作品資料問題</a></li>
<li style="padding:3px;"><a href="help_2-5">封面問題</a></li>
<li style="padding:3px;"><a href="help_2-6">創作課程問題</a></li>
<li style="padding:3px;"><a href="help_2-7">曝光位問題</a></li>
<li style="padding:3px;"><a href="help_2-8">排行榜問題</a></li>
<li style="padding:3px;"><a href="help_2-9">徵文比賽問題</a></li>
<li style="padding:3px;"><a href="help_2-10">作家評論問題</a></li>
<li style="padding:3px;"><a href="help_2-11">作家品類問題</a></li>
<li style="padding:3px;"><a href="help_2-12">作家諮詢問題</a></li>
</ul>
</nav>
</div>