<!-- Footer -->
<style>
.team{
  color:white;
  text-align:center;
  font-size:15px;
  
}
</style>
<footer class="py-5 bg-dark">
  <div class="container" style="margin-bottom:30px;">
    <p class="m-0 text-center text-white">Copyright &copy; FHJH Fictionist</p>
  </div>
  <div class="row" >
    <div class="col-sm-3 team">
      <p>技術團隊</p>
      <hr style="background-color:white;">
      <p>陳頎崴</p>
      <p>鄧可晴</p>
    </div>
    <div class="col-sm-3 team">
    
      <p>美術團隊</p>
      <hr style="background-color:white;">
      <p>Sunny</p>
    </div>
    <div class="col-sm-3 team">
      <p>宣傳團隊</p>
      <hr style="background-color:white;">
      <p>鄭詠仁</p>
      <p>李瑞家</p>
    </div>
    <div class="col-sm-3 team">
      <p>攝影團隊</p>
      <hr style="background-color:white;">
      <p>陳威佑</p>
    </div>
  </div>
  
  <!-- /.container -->
</footer>