
<footer class="text-center">
  <div style="background-color:#d3d3d3;position:fixed;bottom:0;left:0;width:100%;z-index:1;">
    <div class="row">
      <div class="col-12">
        <p align="center">Copyright © 2019-2020 Eastern-Creativity.com All Rights Reserved 東方文學團隊 版權所有</p>
        <p align="center">本站所收錄的作品、社區話題、使用者評論、使用者上傳內容或圖片等均屬使用者個人行為。如前述內容侵害您的權益，歡迎舉報投訴，一經核實，立即刪除，本站不承擔任何責任</p>
      </div>
    </div>
  </div>
</footer>
