
<footer class="text-center">
  <div class="container" style="vertical-align:bottom;">
    <div class="row">
      <div class="col-12">
        <p>Copyright © 2002-2020 eastern-creativity.com All Rights Reserved版权所有 東方文學團隊</p>
        <p>本站所收錄的作品、社區話題、使用者評論、使用者上傳內容或圖片等均屬使用者個人行為。如前述內容侵害您的權益，歡迎舉報投訴，一經核實，立即刪除，本站不承擔任何責任</p>
      </div>
    </div>
  </div>
</footer>