<!-- Footer -->
<style>
.team{
  color:white;
  text-align:center;
  font-size:15px;
  
}
</style>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Copyright © MyWebsite. All rights reserved.</p>
      </div>
    </div>
  </div>
  </div>
  
  <!-- /.container -->
</footer>